In [93]:
# %pip install pyodbc
# %pip install python-dotenv
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
!pip install seaborn
import seaborn as sns
import pyodbc
from dotenv import dotenv_values
import pyodbc

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: seaborn in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (0.13.2)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from seaborn) (2.2.2)
Requirement already satisfied: matplotlib!=3.6.1,>=3.4 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from seaborn) (3.9.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.2.1)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (4.51.0)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (24.0)
Requirement already satisfied: pillow>=8 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (10.3.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (3.1.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\packages\pythonsoftwarefoundation.python.3.12_qbz5n2kfra8p0\localcache\local-packages\python312\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)

## 2020 AND 2021 DATASETS FROM SQL DATABASE

In [94]:
SERVER='dap-projects-database.database.windows.net'
DATABASE='dapDB'
USERNAME='LP1_learner'
PASSWORD='Hyp0th3s!$T3$t!ng'

In [95]:
# Load environment variables from .env file into a dictionary
environment_variables = dotenv_values('.env')

# Get the values for the credentials you set in the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("USERNAME")
password = environment_variables.get("PASSWORD")

In [96]:
# Creation of connection
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password};MARS_Connection=yes;MinProtocolVersion=TLSv1.2;"

In [97]:
connection = pyodbc.connect(connection_string)

In [98]:
query = "SELECT * FROM dbo.LP1_startup_funding2020"

data = pd.read_sql(query, connection)

query = "SELECT * FROM dbo.LP1_startup_funding2021"

data1 = pd.read_sql(query, connection)

C:\Users\HP\AppData\Local\Temp\ipykernel_15660\1545047851.py:3: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data = pd.read_sql(query, connection)
C:\Users\HP\AppData\Local\Temp\ipykernel_15660\1545047851.py:7: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  data1 = pd.read_sql(query, connection)

In [99]:
data = data.drop(columns=['column10'])

In [100]:
data1.head(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A
1,upGrad,2015.0,Mumbai,EdTech,UpGrad is an online higher education platform.,"Mayank Kumar, Phalgun Kompalli, Ravijot Chugh,...","Unilazer Ventures, IIFL Asset Management","$120,000,000",None
2,Lead School,2012.0,Mumbai,EdTech,LEAD School offers technology based school tra...,"Smita Deorah, Sumeet Mehta","GSV Ventures, Westbridge Capital","$30,000,000",Series D
3,Bizongo,2015.0,Mumbai,B2B E-commerce,Bizongo is a business-to-business online marke...,"Aniket Deb, Ankit Tomar, Sachin Agrawal","CDC Group, IDG Capital","$51,000,000",Series C
4,FypMoney,2021.0,Gurugram,FinTech,"FypMoney is Digital NEO Bank for Teenagers, em...",Kapil Banwari,"Liberatha Kallat, Mukesh Yadav, Dinesh Nagpal","$2,000,000",Seed

In [101]:
data.head(5)

,Company_Brand,Founded,HeadQuarter,Sector,What_it_does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None
1,Krayonnz,2019.0,Bangalore,EdTech,An academy-guardian-scholar centric ecosystem ...,"Saurabh Dixit, Gurudutt Upadhyay",GSF Accelerator,100000.0,Pre-seed
2,PadCare Labs,2018.0,Pune,Hygiene management,Converting bio-hazardous waste to harmless waste,Ajinkya Dhariya,Venture Center,NaN,Pre-seed
3,NCOME,2020.0,New Delhi,Escrow,Escrow-as-a-service platform,Ritesh Tiwari,"Venture Catalysts, PointOne Capital",400000.0,None
4,Gramophone,2016.0,Indore,AgriTech,Gramophone is an AgTech platform enabling acce...,"Ashish Rajan Singh, Harshit Gupta, Nishant Mah...","Siana Capital Management, Info Edge",340000.0,None

In [102]:
data.to_csv('2020dataset.csv', index=False)
data.to_csv('2021dataset.csv', index=False)

## 2019 DATASET FROM ONE DRIVE

In [103]:
filepath = r"C:\Users\HP\OneDrive\First Solo Project\FIRST-PROJECT---CUSTOMER-CHURN-ANALYSIS\startup_funding2019.csv"
data2 = pd.read_csv(filepath)
data2.to_csv('2019dataset.csv', index=False)

In [104]:
filepath = R"C:\Users\HP\OneDrive\First Solo Project\FIRST-PROJECT---CUSTOMER-CHURN-ANALYSIS\startup_funding2018.csv"
data3 = pd.read_csv(filepath)
data3.to_csv('2018dataset.csv',index = False)

In [105]:
data.shape

(1055, 9)

In [106]:
data.describe()

           Founded        Amount
count   842.000000  8.010000e+02
mean   2015.363420  1.130430e+08
std       4.097909  2.476635e+09
min    1973.000000  1.270000e+04
25%    2014.000000  1.000000e+06
50%    2016.000000  3.000000e+06
75%    2018.000000  1.100000e+07
max    2020.000000  7.000000e+10

In [107]:
data.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [108]:
data1.shape

(1209, 9)

In [109]:
data1.columns

Index(['Company_Brand', 'Founded', 'HeadQuarter', 'Sector', 'What_it_does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [110]:
data2.shape

(89, 9)

In [111]:
data2.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount($)', 'Stage'],
      dtype='object')

In [112]:
data3.shape

(526, 6)

In [113]:
data3.columns

Index(['Company Name', 'Industry', 'Round/Series', 'Amount', 'Location',
       'About Company'],
      dtype='object')

In [114]:
# Aim of this step is to ensure all columns and column headers are the same
data.columns = data.columns.str.replace('What_it_does', 'What it does').str.replace('Company_Brand', 'Company/Brand')
data1.columns = data1.columns.str.replace('What_it_does', 'What it does').str.replace('Company_Brand', 'Company/Brand')
data2.columns = data2.columns.str.replace('Amount($)', 'Amount').str.replace('Company/Brand', 'Company/Brand')

In [115]:
# This steps aims to make changes to the columns of the 2018 dataset to make the columns equal to the of the pther datasets
data3 = data3.rename(columns={
    'Company Name': 'Company/Brand',
    'Industry': 'Sector',
    'Round/Series': 'Stage',
    'Location': 'HeadQuarter',
    'About Company': 'What it does'
})

In [116]:
data3.head(5)

,Company/Brand,Sector,Stage,Amount,HeadQuarter,What it does
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."
1,Happy Cow Dairy,"Agriculture, Farming",Seed,"₹40,000,000","Mumbai, Maharashtra, India",A startup which aggregates milk from dairy far...
2,MyLoanCare,"Credit, Financial Services, Lending, Marketplace",Series A,"₹65,000,000","Gurgaon, Haryana, India",Leading Online Loans Marketplace in India
3,PayMe India,"Financial Services, FinTech",Angel,2000000,"Noida, Uttar Pradesh, India",PayMe India is an innovative FinTech organizat...
4,Eunimart,"E-Commerce Platforms, Retail, SaaS",Seed,—,"Hyderabad, Andhra Pradesh, India",Eunimart is a one stop solution for merchants ...

In [117]:
data.head(1)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
0,Aqgromalin,2019.0,Chennai,AgriTech,Cultivating Ideas for Profit,"Prasanna Manogaran, Bharani C L",Angel investors,200000.0,None

In [118]:
data1.head(1)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
0,Unbox Robotics,2019.0,Bangalore,AI startup,Unbox Robotics builds on-demand AI-driven ware...,"Pramod Ghadge, Shahid Memon","BEENEXT, Entrepreneur First","$1,200,000",Pre-series A

In [119]:
data2.head(1)

,Company/Brand,Founded,HeadQuarter,Sector,What it does,Founders,Investor,Amount,Stage
0,Bombay Shaving,NaN,NaN,Ecommerce,Provides a range of male grooming products,Shantanu Deshpande,Sixth Sense Ventures,"$6,300,000",NaN

In [120]:
data3.head(1)

,Company/Brand,Sector,Stage,Amount,HeadQuarter,What it does
0,TheCollegeFever,"Brand Marketing, Event Promotion, Marketing, S...",Seed,250000,"Bangalore, Karnataka, India","TheCollegeFever is a hub for fun, fiesta and f..."

### CONCATENATED DATESET

In [121]:

main_df = pd.concat([data, data1, data2, data3], ignore_index=True)

In [122]:
main_df.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [123]:
main_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2879 entries, 0 to 2878
Data columns (total 9 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Company/Brand  2879 non-null   object
 1   Founded        2110 non-null   float64
 2   HeadQuarter    2765 non-null   object
 3   Sector         2861 non-null   object
 4   What it does   2879 non-null   object
 5   Founders       2334 non-null   object
 6   Investor       2253 non-null   object
 7   Amount         2622 non-null   object
 8   Stage          1941 non-null   object
dtypes: float64(1), object(8)
memory usage: 202.6+ KB

## CLEANING AMOUNT COLUMN

In [124]:
main_df['Amount'].unique()

array([200000.0, 100000.0, nan, 400000.0, 340000.0, 600000.0, 45000000.0,
       1000000.0, 2000000.0, 1200000.0, 660000000.0, 120000.0, 7500000.0,
       5000000.0, 500000.0, 3000000.0, 10000000.0, 145000000.0,
       100000000.0, 21000000.0, 4000000.0, 20000000.0, 560000.0, 275000.0,
       4500000.0, 15000000.0, 390000000.0, 7000000.0, 5100000.0,
       700000000.0, 2300000.0, 700000.0, 19000000.0, 9000000.0,
       40000000.0, 750000.0, 1500000.0, 7800000.0, 50000000.0, 80000000.0,
       30000000.0, 1700000.0, 2500000.0, 40000.0, 33000000.0, 35000000.0,
       300000.0, 25000000.0, 3500000.0, 200000000.0, 6000000.0, 1300000.0,
       4100000.0, 575000.0, 800000.0, 28000000.0, 18000000.0, 3200000.0,
       900000.0, 250000.0, 4700000.0, 75000000.0, 8000000.0, 121000000.0,
       55000000.0, 3300000.0, 11000000.0, 16000000.0, 5400000.0,
       150000000.0, 4200000.0, 22000000.0, 52000000.0, 1100000.0,
       118000000.0, 1600000.0, 18500000.0, 70000000000.0, 800000000.0,
       400000000.0, 150000.0, 176000000.0, 60000000.0, 470000.0, 240000.0,
       3000000000.0, 74000000.0, 62000000.0, 2100000.0, 500000000.0,
       12500000.0, 2200000000.0, 5060000.0, 225000000.0, 24700000.0,
       7700000.0, 19067328.0, 51000000.0, 115000.0, 54000.0, 20000.0,
       803146.0, 238000.0, 10220000.0, 1020000.0, 12000000.0, 13400000.0,
       170000000.0, 2900000.0, 543000.0, 90000000.0, 3400000.0,
       23000000.0, 8090000.0, 1030000.0, 5040000.0, 360000.0, 1400000.0,
       650000.0, 54000000.0, 42500000.0, 11370000.0, 325000.0, 410000.0,
       450000.0, 682000.0, 4050000.0, 1050000.0, 1080000.0, 4300000.0,
       6800000.0, 2110000.0, 764000.0, 603000.0, 409000.0, 292000.0,
       286000.0, 136000.0, 546000.0, 887000.0, 43000.0, 40900.0,
       2200000.0, 5660000.0, 350000.0, 110000.0, 122000000.0, 11635000.0,
       2800000.0, 1065000.0, 669000.0, 16076000.0, 649600.0, 6700000.0,
       220000.0, 266500.0, 2879000.0, 26500000.0, 351000.0, 46761000.0,
       175000.0, 11241000.0, 804000.0, 1340000.0, 467000.0, 133000.0,
       3823000.0, 934000.0, 293000.0, 198000.0, 927000.0, 971000.0,
       3060000.0, 1862000.0, 232000.0, 2888000.0, 1328000.0, 15500000.0,
       56000000.0, 2250000.0, 16753000.0, 3700000.0, 1470000.0, 530000.0,
       267000.0, 3344000.0, 7200000.0, 2743000.0, 6082000.0, 6609000.0,
       27700000.0, 5940000.0, 3964000.0, 5500000.0, 197000.0, 4327000.0,
       459000.0, 3937000.0, 1313500.0, 229800.0, 5305000.0, 264000.0,
       1750000.0, 5967000.0, 2980000.0, 323000.0, 1326000.0, 27000000.0,
       5200000.0, 2530000.0, 792000.0, 11363000.0, 1715000.0, 329000.0,
       5271000.0, 8700000.0, 3226000.0, 5900000.0, 44000000.0, 3879000.0,
       13000000.0, 8800000.0, 9500000.0, 920000.0, 35600000.0, 9400000.0,
       790000.0, 480000.0, 160000.0, 8200000.0, 4257000.0, 1410000.0,
       349800.0, 786000.0, 2004000.0, 123000000.0, 248000.0, 24000000.0,
       14259000.0, 24500000.0, 3800000.0, 18370000.0, 68525000.0,
       4800000.0, 1834000.0, 23850000.0, 43000000.0, 21600000.0,
       4598000.0, 13137000.0, 115000000.0, 3900000.0, 670000.0, 8500000.0,
       3148000.0, 2600000.0, 4049500.0, 10500000.0, 6500000.0, 43700000.0,
       13800000.0, 306900.0, 420000.0, 627300.0, 113000000.0, 32000000.0,
       110000000.0, 1397000.0, 448500.0, 7975700.0, 330000.0, 5600000.0,
       1402000.0, 21500000.0, 296000000.0, 4900000.0, 1402400.0,
       12618300.0, 9900000.0, 982530.0, 70185200.0, 210000000.0,
       84000000.0, 39000000.0, 2700000.0, 1403400.0, 105000000.0,
       103000000.0, 281300.0, 12700.0, 25000.0, 97500000.0, 507000.0,
       8400000.0, 18300000.0, 125000000.0, 181000.0, 280000.0, 14700000.0,
       13200000.0, 8043000.0, '$1,200,000', '$120,000,000', '$30,000,000',
       '$51,000,000', '$2,000,000', '$188,000,000', '$200,000',
       'Undisclosed', '$1,000,000', '$3,000,000', '$100,000', '$700,000',
       '$9,000,000', '$40,000,000', '$49,000,000', '$400,000', '$300,000',
       '$25,000,000', '$160,000,000', '$150,000', '$1,800,000',
       '$5,000,000', '$850,000', '$53,000,000', '$500,000', '$1,100,000',
       '$6,000,000', '$800,000', '$10,000,000', '$21,000,000',
       '$7,500,000', '$26,000,000', '$7,400,000', '$1,500,000',
       '$600,000', '$800,000,000', '$17,000,000', '$3,500,000',
       '$15,000,000', '$215,000,000', '$2,500,000', '$350,000,000',
       '$5,500,000', '$83,000,000', '$110,000,000', '$500,000,000',
       '$65,000,000', '$150,000,000,000', '$300,000,000', '$2,200,000',
       '$35,000,000', '$140,000,000', '$4,000,000', '$13,000,000', None,
       '$Undisclosed', '$2000000', '$800000', '$6000000', '$2500000',
       '$9500000', '$13000000', '$5000000', '$8000000', '$1000000',
       'Upsparks', '$200000', '$12000000', '$1500000', '$1700000',
       '$5500000', '$400000', '$150000000', '$4000000', '$100000000',
       '$500000', '$15000000', '$10000000', '$40000000', '$225000000',
       '$6700000', '$1300000', '$20000000', '$250000', '$21000000',
       '$1200000', '$52000000', '$3800000', '$17500000', '$42000000',
       '$2300000', '$7000000', '$30000000', '$450000000', '$28000000',
       '$300000', '$3500000', '$8500000', '$25000000', '$3000000',
       '$37000000', '$370000000', '$700000', '$16000000', '$100000',
       '$44000000', '$770000', '$125000000', '$35000000', '$50000000',
       '$4900000', '$145000000', '$22000000', '$70000000', '$6600000',
       '$32000000', '$24000000', '$725000', '$461000', 'Series C', 'Seed',
       '$96000000', '$60000000', '$500000000', '$266000000', '$4500000',
       '$325000000', '$6500000', '$1600000', '$150000', '$225000',
       '$85000000', '$235000', '$260000', '$2900000', '$53000000',
       '$1100000', '$86000000', '$130000', '$$100,00', '$111000000',
       '$265000', '$76000000', '$100,000,000', '$75,000,000',
       '$3,800,000', '$12,000,000', '$1,600,000', '$260,000',
       '$1,000,000,000', '$18,000,000', '$20,000,000', '$350,000',
       '$95,000,000', '$4,100,000', '$5,200,000', '$8,000,000',
       '$1,400,000', '$2,600,000', '$900,000', '$250,000', '$16,000,000',
       '$7,000,000', '$11,000,000', '$280,000,000', '$50,000,000',
       '$14,300,000', '$81,000,000', '$1,300,000', '$8,200,000',
       '$70,000,000', '$720,000', '$600000', '$9000000', '$1800000',
       '$330000', '$undisclosed', '$200000000', '$36000000', '$67000000',
       '$10200000', '$220000000', '$108000000', '$75000000', '$450000',
       '$660000000', 'ah! Ventures', '$45000000', '$3200000', '$370000',
       'Pre-series A', 'ITO Angel Network, LetsVenture', '$48000000',
       '$3600000', '$11000000', '$192000000', '$65000000', '$1400000',
       '$1900000', '$41000000', '$144000000', '$5200000', '$270000000',
       '$140000', '$250000000', '$320000', '$350000000', '$4800000',
       '$38000000', '$125000', '$26000000', '$64000000', '$620000',
       '$900000', 'JITO Angel Network, LetsVenture', '$2600000',
       '$1,250,000', '$400,000,000', '$1,700,000', '$27,000,000',
       '$234,000,000', '$460,000,000', '$13,500,000', '$5,100,000',
       '$195,000,000', '$125,000', '$45,000,000', '$200,000,000',
       '$7,300,000', '$6,300,000', '$12,500,000', '$24,000,000',
       '$140,000', '$16,500,000', '$340,000', '$43,000,000',
       '$150,000,000', '$3300000', '$92000000', '$17000000', '$135000000',
       '$$1,55,000', '$2100000', '$840000000', '$248000000', '$4300000',
       '$570000', '$2200000', '$4700000', '$300000000', '$260000000',
       '$140000000', '$175000000', '$19000000', '$810000', '$7500000',
       '$600000000', '$90000000', '$5700000', '$6750000', '$78000000',
       '$5400000', '$115000000', '$255000000', '$18000000', '$570000000',
       '$550000', '$2700000', '$4200000', '$31000000', '$540000',
       '$14000000', '$340000', '$', '$6200000', '$750000', '$6300000',
       '$23000000', '$55000000', '$28,000,000', '$275,000,000',
       '$22,000,000', '$140,500', '$540,000,000', '$182,700',
       '$15,500,000', '$230,000,000', '$49,400,000', '$32,000,000',
       '$6,800,000', '$36,000,000', '$5,700,000', '$60,000,000',
       '$220,000', '$2,800,000', '$2,100,000', '$311,000,000',
       '$4,800,000', '$693,000,000', '$33,000,000', '250000',
       '₹40,000,000', '₹65,000,000', '2000000', '—', '1600000',
       '₹16,000,000', '₹50,000,000', '₹100,000,000', '150000', '1100000',
       '₹500,000', '6000000', '650000', '₹35,000,000', '₹64,000,000',
       '₹20,000,000', '1000000', '5000000', '4000000', '₹30,000,000',
       '2800000', '1700000', '1300000', '₹5,000,000', '₹12,500,000',
       '₹15,000,000', '500000', '₹104,000,000', '₹45,000,000', '13400000',
       '₹25,000,000', '₹26,400,000', '₹8,000,000', '₹60,000', '9000000',
       '100000', '20000', '120000', '₹34,000,000', '₹342,000,000',
       '$143,145', '₹600,000,000', '$742,000,000', '₹1,000,000,000',
       '₹2,000,000,000', '$3,980,000', '$10,000', '₹100,000',
       '₹250,000,000', '₹550,000,000', '$28,500,000', '₹240,000,000',
       '₹120,000,000', '$2,400,000', '₹2,500,000,000', '$23,000,000',
       '₹44,000,000', '$3,240,000', '₹60,000,000', '₹650,000,000',
       '₹1,600,000,000', '₹70,000,000', '$14,000,000', '₹102,500,000',
       '₹1,200,000', '₹5,200,000,000', '$1,041,000', '$15,000', '1400000',
       '1200000', '2200000', '1800000', '3600000', '₹9,500,000', '300000',
       '6830000', '200000', '₹150,000,000', '4300000', '364846', '400000',
       '1500000', '₹7,000,000', '₹1,400,000', '₹10,000,000',
       '₹22,500,000', '13200000', '50000', '₹140,200,000', '3000000',
       '1250000', '180000', '₹19,200,000', '₹103,000,000', '4200000',
       '175000', '1450000', '₹200,000', '4500000', '600000',
       '₹16,600,000', '₹12,000,000', '15000000', '₹33,000,000', '125000',
       '130000', '₹34,900,000', '₹72,000,000', '17200000', '₹32,000,000',
       '3500000', '₹135,000,000', '12000000', '₹1,540,000,000',
       '₹140,000,000', '$41,900,000', '₹1,410,000,000', '$3,530,000',
       '$3,300,000', '₹580,000,000', '₹36,000,000', '₹340,000,000',
       '$210,000,000', '$37,680,000', '$20,000', '₹510,000,000',
       '₹2,200,000,000', '22000000', '70000', '10000000',
       '₹15,392,000,000', '₹20,000,000,000', '₹4,000,000,000',
       '185000000', '65000000', '₹165,000,000', '700000', '30000000',
       '₹210,000,000', '210000000', '₹2,029,600,000', '75000000',
       '₹80,000,000', '1760000', '2700000', '₹280,000,000',
       '₹800,000,000', '750000', '2500000', '80000000', '25000000',
       '₹730,000,000', '₹400,000,000', '3700000', '5600000',
       '₹260,000,000', '99230000', '70000000', '40000', '550000',
       '50000000', '365000000', '₹8,750,000', '₹78,000,000', '28000000',
       '₹264,000,000', '100000000', '₹1,130,000,000', '₹810,000,000',
       '₹1,400,000,000', '14900000', '225000000', '7500', '35000000'],
      dtype=object)

In [125]:
# Function to convert rupees to dollars
def convert_to_dollars(amount):
    if pd.isnull(amount):
        return np.nan
    amount_str = str(amount).replace(',', '').strip()  # Remove commas and strip whitespace
    if amount_str.startswith('₹'):
        try:
            return float(amount_str[1:]) * 0.0146  # Convert Rupees to Dollars
        except ValueError:
            return np.nan
    elif amount_str.startswith('$'):
        try:
            return float(amount_str[1:])  # Keep the dollar amount as is
        except ValueError:
            return np.nan
    else:
        try:
            return float(amount_str)  # Convert to float for other numeric values
        except ValueError:
            return np.nan  # Handle non-numeric values

# Apply the conversion function to the Amount column
main_df['Amount'] = main_df['Amount'].apply(convert_to_dollars)

# Display the cleaned Amount column
print(main_df['Amount'].head(5))

0    200000.0
1    100000.0
2         NaN
3    400000.0
4    340000.0
Name: Amount, dtype: float64

In [126]:
# Calculate the median of the 'Amount' column
median_value = main_df['Amount'].median()

# Fill NaN values with the median
main_df['Amount'] = main_df['Amount'].fillna(median_value)

# Print the unique values again after filling NaNs
print(main_df['Amount'].unique())

[2.0000000e+05 1.0000000e+05 3.0000000e+06 4.0000000e+05 3.4000000e+05
 6.0000000e+05 4.5000000e+07 1.0000000e+06 2.0000000e+06 1.2000000e+06
 6.6000000e+08 1.2000000e+05 7.5000000e+06 5.0000000e+06 5.0000000e+05
 1.0000000e+07 1.4500000e+08 1.0000000e+08 2.1000000e+07 4.0000000e+06
 2.0000000e+07 5.6000000e+05 2.7500000e+05 4.5000000e+06 1.5000000e+07
 3.9000000e+08 7.0000000e+06 5.1000000e+06 7.0000000e+08 2.3000000e+06
 7.0000000e+05 1.9000000e+07 9.0000000e+06 4.0000000e+07 7.5000000e+05
 1.5000000e+06 7.8000000e+06 5.0000000e+07 8.0000000e+07 3.0000000e+07
 1.7000000e+06 2.5000000e+06 4.0000000e+04 3.3000000e+07 3.5000000e+07
 3.0000000e+05 2.5000000e+07 3.5000000e+06 2.0000000e+08 6.0000000e+06
 1.3000000e+06 4.1000000e+06 5.7500000e+05 8.0000000e+05 2.8000000e+07
 1.8000000e+07 3.2000000e+06 9.0000000e+05 2.5000000e+05 4.7000000e+06
 7.5000000e+07 8.0000000e+06 1.2100000e+08 5.5000000e+07 3.3000000e+06
 1.1000000e+07 1.6000000e+07 5.4000000e+06 1.5000000e+08 4.2000000e+06
 2.2000000e+07 5.2000000e+07 1.1000000e+06 1.1800000e+08 1.6000000e+06
 1.8500000e+07 7.0000000e+10 8.0000000e+08 4.0000000e+08 1.5000000e+05
 1.7600000e+08 6.0000000e+07 4.7000000e+05 2.4000000e+05 3.0000000e+09
 7.4000000e+07 6.2000000e+07 2.1000000e+06 5.0000000e+08 1.2500000e+07
 2.2000000e+09 5.0600000e+06 2.2500000e+08 2.4700000e+07 7.7000000e+06
 1.9067328e+07 5.1000000e+07 1.1500000e+05 5.4000000e+04 2.0000000e+04
 8.0314600e+05 2.3800000e+05 1.0220000e+07 1.0200000e+06 1.2000000e+07
 1.3400000e+07 1.7000000e+08 2.9000000e+06 5.4300000e+05 9.0000000e+07
 3.4000000e+06 2.3000000e+07 8.0900000e+06 1.0300000e+06 5.0400000e+06
 3.6000000e+05 1.4000000e+06 6.5000000e+05 5.4000000e+07 4.2500000e+07
 1.1370000e+07 3.2500000e+05 4.1000000e+05 4.5000000e+05 6.8200000e+05
 4.0500000e+06 1.0500000e+06 1.0800000e+06 4.3000000e+06 6.8000000e+06
 2.1100000e+06 7.6400000e+05 6.0300000e+05 4.0900000e+05 2.9200000e+05
 2.8600000e+05 1.3600000e+05 5.4600000e+05 8.8700000e+05 4.3000000e+04
 4.0900000e+04 2.2000000e+06 5.6600000e+06 3.5000000e+05 1.1000000e+05
 1.2200000e+08 1.1635000e+07 2.8000000e+06 1.0650000e+06 6.6900000e+05
 1.6076000e+07 6.4960000e+05 6.7000000e+06 2.2000000e+05 2.6650000e+05
 2.8790000e+06 2.6500000e+07 3.5100000e+05 4.6761000e+07 1.7500000e+05
 1.1241000e+07 8.0400000e+05 1.3400000e+06 4.6700000e+05 1.3300000e+05
 3.8230000e+06 9.3400000e+05 2.9300000e+05 1.9800000e+05 9.2700000e+05
 9.7100000e+05 3.0600000e+06 1.8620000e+06 2.3200000e+05 2.8880000e+06
 1.3280000e+06 1.5500000e+07 5.6000000e+07 2.2500000e+06 1.6753000e+07
 3.7000000e+06 1.4700000e+06 5.3000000e+05 2.6700000e+05 3.3440000e+06
 7.2000000e+06 2.7430000e+06 6.0820000e+06 6.6090000e+06 2.7700000e+07
 5.9400000e+06 3.9640000e+06 5.5000000e+06 1.9700000e+05 4.3270000e+06
 4.5900000e+05 3.9370000e+06 1.3135000e+06 2.2980000e+05 5.3050000e+06
 2.6400000e+05 1.7500000e+06 5.9670000e+06 2.9800000e+06 3.2300000e+05
 1.3260000e+06 2.7000000e+07 5.2000000e+06 2.5300000e+06 7.9200000e+05
 1.1363000e+07 1.7150000e+06 3.2900000e+05 5.2710000e+06 8.7000000e+06
 3.2260000e+06 5.9000000e+06 4.4000000e+07 3.8790000e+06 1.3000000e+07
 8.8000000e+06 9.5000000e+06 9.2000000e+05 3.5600000e+07 9.4000000e+06
 7.9000000e+05 4.8000000e+05 1.6000000e+05 8.2000000e+06 4.2570000e+06
 1.4100000e+06 3.4980000e+05 7.8600000e+05 2.0040000e+06 1.2300000e+08
 2.4800000e+05 2.4000000e+07 1.4259000e+07 2.4500000e+07 3.8000000e+06
 1.8370000e+07 6.8525000e+07 4.8000000e+06 1.8340000e+06 2.3850000e+07
 4.3000000e+07 2.1600000e+07 4.5980000e+06 1.3137000e+07 1.1500000e+08
 3.9000000e+06 6.7000000e+05 8.5000000e+06 3.1480000e+06 2.6000000e+06
 4.0495000e+06 1.0500000e+07 6.5000000e+06 4.3700000e+07 1.3800000e+07
 3.0690000e+05 4.2000000e+05 6.2730000e+05 1.1300000e+08 3.2000000e+07
 1.1000000e+08 1.3970000e+06 4.4850000e+05 7.9757000e+06 3.3000000e+05
 5.6000000e+06 1.4020000e+06 2.1500000e+07 2.9600000e+08 4.9000000e+06
 1.4024000e+06 1.2618300e+07 9.9000000e+06 9.8253000e+05 7.0185200e+07
 2.1000000e+08 8.4000000e+07 3.9000000e+07 2.7000000e+06 1.4034000e+06
 1.0500000e+08 1.0300000e+08 2.8130000e+05 1.2700000e+04 2.5000000e+04
 9.7500000e+07 5.0700000e+05 8.4000000e+06 1.8300000e+07 1.2500000e+08
 1.8100000e+05 2.8000000e+05 1.4700000e+07 1.3200000e+07 8.0430000e+06
 1.2000000e+08 1.8800000e+08 4.9000000e+07 1.6000000e+08 1.8000000e+06
 8.5000000e+05 5.3000000e+07 2.6000000e+07 7.4000000e+06 1.7000000e+07
 2.1500000e+08 3.5000000e+08 8.3000000e+07 6.5000000e+07 1.5000000e+11
 3.0000000e+08 1.4000000e+08 1.7500000e+07 4.2000000e+07 4.5000000e+08
 3.7000000e+07 3.7000000e+08 7.7000000e+05 7.0000000e+07 6.6000000e+06
 7.2500000e+05 4.6100000e+05 9.6000000e+07 2.6600000e+08 3.2500000e+08
 2.2500000e+05 8.5000000e+07 2.3500000e+05 2.6000000e+05 8.6000000e+07
 1.3000000e+05 1.1100000e+08 2.6500000e+05 7.6000000e+07 1.0000000e+09
 9.5000000e+07 2.8000000e+08 1.4300000e+07 8.1000000e+07 7.2000000e+05
 3.6000000e+07 6.7000000e+07 1.0200000e+07 2.2000000e+08 1.0800000e+08
 3.7000000e+05 4.8000000e+07 3.6000000e+06 1.9200000e+08 1.9000000e+06
 4.1000000e+07 1.4400000e+08 2.7000000e+08 1.4000000e+05 2.5000000e+08
 3.2000000e+05 3.8000000e+07 1.2500000e+05 6.4000000e+07 6.2000000e+05
 1.2500000e+06 2.3400000e+08 4.6000000e+08 1.3500000e+07 1.9500000e+08
 7.3000000e+06 6.3000000e+06 1.6500000e+07 9.2000000e+07 1.3500000e+08
 8.4000000e+08 2.4800000e+08 5.7000000e+05 2.6000000e+08 1.7500000e+08
 8.1000000e+05 6.0000000e+08 5.7000000e+06 6.7500000e+06 7.8000000e+07
 2.5500000e+08 5.7000000e+08 5.5000000e+05 3.1000000e+07 5.4000000e+05
 1.4000000e+07 6.2000000e+06 2.7500000e+08 1.4050000e+05 5.4000000e+08
 1.8270000e+05 2.3000000e+08 4.9400000e+07 3.1100000e+08 6.9300000e+08
 5.8400000e+05 9.4900000e+05 2.3360000e+05 7.3000000e+05 1.4600000e+06
 7.3000000e+03 5.1100000e+05 9.3440000e+05 4.3800000e+05 7.3000000e+04
 1.8250000e+05 2.1900000e+05 1.5184000e+06 6.5700000e+05 3.6500000e+05
 3.8544000e+05 1.1680000e+05 8.7600000e+02 4.9640000e+05 4.9932000e+06
 1.4314500e+05 8.7600000e+06 7.4200000e+08 1.4600000e+07 2.9200000e+07
 3.9800000e+06 1.0000000e+04 1.4600000e+03 3.6500000e+06 8.0300000e+06
 2.8500000e+07 3.5040000e+06 1.7520000e+06 2.4000000e+06 3.6500000e+07
 6.4240000e+05 3.2400000e+06 8.7600000e+05 9.4900000e+06 2.3360000e+07
 1.0220000e+06 1.4965000e+06 1.7520000e+04 7.5920000e+07 1.0410000e+06
 1.5000000e+04 1.3870000e+05 6.8300000e+06 2.1900000e+06 3.6484600e+05
 1.0220000e+05 2.0440000e+04 1.4600000e+05 3.2850000e+05 5.0000000e+04
 2.0469200e+06 1.8000000e+05 2.8032000e+05 1.5038000e+06 1.4500000e+06
 2.9200000e+03 2.4236000e+05 1.7520000e+05 4.8180000e+05 5.0954000e+05
 1.0512000e+06 1.7200000e+07 4.6720000e+05 1.9710000e+06 2.2484000e+07
 2.0440000e+06 4.1900000e+07 2.0586000e+07 3.5300000e+06 8.4680000e+06
 5.2560000e+05 4.9640000e+06 3.7680000e+07 7.4460000e+06 3.2120000e+07
 7.0000000e+04 2.2472320e+08 2.9200000e+08 5.8400000e+07 1.8500000e+08
 2.4090000e+06 3.0660000e+06 2.9632160e+07 1.1680000e+06 1.7600000e+06
 4.0880000e+06 1.1680000e+07 1.0658000e+07 5.8400000e+06 3.7960000e+06
 9.9230000e+07 3.6500000e+08 1.2775000e+05 1.1388000e+06 3.8544000e+06
 1.6498000e+07 1.1826000e+07 2.0440000e+07 1.4900000e+07 7.5000000e+03]

In [127]:
main_df['Amount'].unique()

array([2.0000000e+05, 1.0000000e+05, 3.0000000e+06, 4.0000000e+05,
       3.4000000e+05, 6.0000000e+05, 4.5000000e+07, 1.0000000e+06,
       2.0000000e+06, 1.2000000e+06, 6.6000000e+08, 1.2000000e+05,
       7.5000000e+06, 5.0000000e+06, 5.0000000e+05, 1.0000000e+07,
       1.4500000e+08, 1.0000000e+08, 2.1000000e+07, 4.0000000e+06,
       2.0000000e+07, 5.6000000e+05, 2.7500000e+05, 4.5000000e+06,
       1.5000000e+07, 3.9000000e+08, 7.0000000e+06, 5.1000000e+06,
       7.0000000e+08, 2.3000000e+06, 7.0000000e+05, 1.9000000e+07,
       9.0000000e+06, 4.0000000e+07, 7.5000000e+05, 1.5000000e+06,
       7.8000000e+06, 5.0000000e+07, 8.0000000e+07, 3.0000000e+07,
       1.7000000e+06, 2.5000000e+06, 4.0000000e+04, 3.3000000e+07,
       3.5000000e+07, 3.0000000e+05, 2.5000000e+07, 3.5000000e+06,
       2.0000000e+08, 6.0000000e+06, 1.3000000e+06, 4.1000000e+06,
       5.7500000e+05, 8.0000000e+05, 2.8000000e+07, 1.8000000e+07,
       3.2000000e+06, 9.0000000e+05, 2.5000000e+05, 4.7000000e+06,
       7.5000000e+07, 8.0000000e+06, 1.2100000e+08, 5.5000000e+07,
       3.3000000e+06, 1.1000000e+07, 1.6000000e+07, 5.4000000e+06,
       1.5000000e+08, 4.2000000e+06, 2.2000000e+07, 5.2000000e+07,
       1.1000000e+06, 1.1800000e+08, 1.6000000e+06, 1.8500000e+07,
       7.0000000e+10, 8.0000000e+08, 4.0000000e+08, 1.5000000e+05,
       1.7600000e+08, 6.0000000e+07, 4.7000000e+05, 2.4000000e+05,
       3.0000000e+09, 7.4000000e+07, 6.2000000e+07, 2.1000000e+06,
       5.0000000e+08, 1.2500000e+07, 2.2000000e+09, 5.0600000e+06,
       2.2500000e+08, 2.4700000e+07, 7.7000000e+06, 1.9067328e+07,
       5.1000000e+07, 1.1500000e+05, 5.4000000e+04, 2.0000000e+04,
       8.0314600e+05, 2.3800000e+05, 1.0220000e+07, 1.0200000e+06,
       1.2000000e+07, 1.3400000e+07, 1.7000000e+08, 2.9000000e+06,
       5.4300000e+05, 9.0000000e+07, 3.4000000e+06, 2.3000000e+07,
       8.0900000e+06, 1.0300000e+06, 5.0400000e+06, 3.6000000e+05,
       1.4000000e+06, 6.5000000e+05, 5.4000000e+07, 4.2500000e+07,
       1.1370000e+07, 3.2500000e+05, 4.1000000e+05, 4.5000000e+05,
       6.8200000e+05, 4.0500000e+06, 1.0500000e+06, 1.0800000e+06,
       4.3000000e+06, 6.8000000e+06, 2.1100000e+06, 7.6400000e+05,
       6.0300000e+05, 4.0900000e+05, 2.9200000e+05, 2.8600000e+05,
       1.3600000e+05, 5.4600000e+05, 8.8700000e+05, 4.3000000e+04,
       4.0900000e+04, 2.2000000e+06, 5.6600000e+06, 3.5000000e+05,
       1.1000000e+05, 1.2200000e+08, 1.1635000e+07, 2.8000000e+06,
       1.0650000e+06, 6.6900000e+05, 1.6076000e+07, 6.4960000e+05,
       6.7000000e+06, 2.2000000e+05, 2.6650000e+05, 2.8790000e+06,
       2.6500000e+07, 3.5100000e+05, 4.6761000e+07, 1.7500000e+05,
       1.1241000e+07, 8.0400000e+05, 1.3400000e+06, 4.6700000e+05,
       1.3300000e+05, 3.8230000e+06, 9.3400000e+05, 2.9300000e+05,
       1.9800000e+05, 9.2700000e+05, 9.7100000e+05, 3.0600000e+06,
       1.8620000e+06, 2.3200000e+05, 2.8880000e+06, 1.3280000e+06,
       1.5500000e+07, 5.6000000e+07, 2.2500000e+06, 1.6753000e+07,
       3.7000000e+06, 1.4700000e+06, 5.3000000e+05, 2.6700000e+05,
       3.3440000e+06, 7.2000000e+06, 2.7430000e+06, 6.0820000e+06,
       6.6090000e+06, 2.7700000e+07, 5.9400000e+06, 3.9640000e+06,
       5.5000000e+06, 1.9700000e+05, 4.3270000e+06, 4.5900000e+05,
       3.9370000e+06, 1.3135000e+06, 2.2980000e+05, 5.3050000e+06,
       2.6400000e+05, 1.7500000e+06, 5.9670000e+06, 2.9800000e+06,
       3.2300000e+05, 1.3260000e+06, 2.7000000e+07, 5.2000000e+06,
       2.5300000e+06, 7.9200000e+05, 1.1363000e+07, 1.7150000e+06,
       3.2900000e+05, 5.2710000e+06, 8.7000000e+06, 3.2260000e+06,
       5.9000000e+06, 4.4000000e+07, 3.8790000e+06, 1.3000000e+07,
       8.8000000e+06, 9.5000000e+06, 9.2000000e+05, 3.5600000e+07,
       9.4000000e+06, 7.9000000e+05, 4.8000000e+05, 1.6000000e+05,
       8.2000000e+06, 4.2570000e+06, 1.4100000e+06, 3.4980000e+05,
       7.8600000e+05, 2.0040000e+06, 1.2300000e+08, 2.4800000e+05,
       2.4000000e+07, 1.4259000e+07, 2.4500000e+07, 3.8000000e+06,
       1.8370000e+07, 6.8525000e+07, 4.8000000e+06, 1.8340000e+06,
       2.3850000e+07, 4.3000000e+07, 2.1600000e+07, 4.5980000e+06,
       1.3137000e+07, 1.1500000e+08, 3.9000000e+06, 6.7000000e+05,
       8.5000000e+06, 3.1480000e+06, 2.6000000e+06, 4.0495000e+06,
       1.0500000e+07, 6.5000000e+06, 4.3700000e+07, 1.3800000e+07,
       3.0690000e+05, 4.2000000e+05, 6.2730000e+05, 1.1300000e+08,
       3.2000000e+07, 1.1000000e+08, 1.3970000e+06, 4.4850000e+05,
       7.9757000e+06, 3.3000000e+05, 5.6000000e+06, 1.4020000e+06,
       2.1500000e+07, 2.9600000e+08, 4.9000000e+06, 1.4024000e+06,
       1.2618300e+07, 9.9000000e+06, 9.8253000e+05, 7.0185200e+07,
       2.1000000e+08, 8.4000000e+07, 3.9000000e+07, 2.7000000e+06,
       1.4034000e+06, 1.0500000e+08, 1.0300000e+08, 2.8130000e+05,
       1.2700000e+04, 2.5000000e+04, 9.7500000e+07, 5.0700000e+05,
       8.4000000e+06, 1.8300000e+07, 1.2500000e+08, 1.8100000e+05,
       2.8000000e+05, 1.4700000e+07, 1.3200000e+07, 8.0430000e+06,
       1.2000000e+08, 1.8800000e+08, 4.9000000e+07, 1.6000000e+08,
       1.8000000e+06, 8.5000000e+05, 5.3000000e+07, 2.6000000e+07,
       7.4000000e+06, 1.7000000e+07, 2.1500000e+08, 3.5000000e+08,
       8.3000000e+07, 6.5000000e+07, 1.5000000e+11, 3.0000000e+08,
       1.4000000e+08, 1.7500000e+07, 4.2000000e+07, 4.5000000e+08,
       3.7000000e+07, 3.7000000e+08, 7.7000000e+05, 7.0000000e+07,
       6.6000000e+06, 7.2500000e+05, 4.6100000e+05, 9.6000000e+07,
       2.6600000e+08, 3.2500000e+08, 2.2500000e+05, 8.5000000e+07,
       2.3500000e+05, 2.6000000e+05, 8.6000000e+07, 1.3000000e+05,
       1.1100000e+08, 2.6500000e+05, 7.6000000e+07, 1.0000000e+09,
       9.5000000e+07, 2.8000000e+08, 1.4300000e+07, 8.1000000e+07,
       7.2000000e+05, 3.6000000e+07, 6.7000000e+07, 1.0200000e+07,
       2.2000000e+08, 1.0800000e+08, 3.7000000e+05, 4.8000000e+07,
       3.6000000e+06, 1.9200000e+08, 1.9000000e+06, 4.1000000e+07,
       1.4400000e+08, 2.7000000e+08, 1.4000000e+05, 2.5000000e+08,
       3.2000000e+05, 3.8000000e+07, 1.2500000e+05, 6.4000000e+07,
       6.2000000e+05, 1.2500000e+06, 2.3400000e+08, 4.6000000e+08,
       1.3500000e+07, 1.9500000e+08, 7.3000000e+06, 6.3000000e+06,
       1.6500000e+07, 9.2000000e+07, 1.3500000e+08, 8.4000000e+08,
       2.4800000e+08, 5.7000000e+05, 2.6000000e+08, 1.7500000e+08,
       8.1000000e+05, 6.0000000e+08, 5.7000000e+06, 6.7500000e+06,
       7.8000000e+07, 2.5500000e+08, 5.7000000e+08, 5.5000000e+05,
       3.1000000e+07, 5.4000000e+05, 1.4000000e+07, 6.2000000e+06,
       2.7500000e+08, 1.4050000e+05, 5.4000000e+08, 1.8270000e+05,
       2.3000000e+08, 4.9400000e+07, 3.1100000e+08, 6.9300000e+08,
       5.8400000e+05, 9.4900000e+05, 2.3360000e+05, 7.3000000e+05,
       1.4600000e+06, 7.3000000e+03, 5.1100000e+05, 9.3440000e+05,
       4.3800000e+05, 7.3000000e+04, 1.8250000e+05, 2.1900000e+05,
       1.5184000e+06, 6.5700000e+05, 3.6500000e+05, 3.8544000e+05,
       1.1680000e+05, 8.7600000e+02, 4.9640000e+05, 4.9932000e+06,
       1.4314500e+05, 8.7600000e+06, 7.4200000e+08, 1.4600000e+07,
       2.9200000e+07, 3.9800000e+06, 1.0000000e+04, 1.4600000e+03,
       3.6500000e+06, 8.0300000e+06, 2.8500000e+07, 3.5040000e+06,
       1.7520000e+06, 2.4000000e+06, 3.6500000e+07, 6.4240000e+05,
       3.2400000e+06, 8.7600000e+05, 9.4900000e+06, 2.3360000e+07,
       1.0220000e+06, 1.4965000e+06, 1.7520000e+04, 7.5920000e+07,
       1.0410000e+06, 1.5000000e+04, 1.3870000e+05, 6.8300000e+06,
       2.1900000e+06, 3.6484600e+05, 1.0220000e+05, 2.0440000e+04,
       1.4600000e+05, 3.2850000e+05, 5.0000000e+04, 2.0469200e+06,
       1.8000000e+05, 2.8032000e+05, 1.5038000e+06, 1.4500000e+06,
       2.9200000e+03, 2.4236000e+05, 1.7520000e+05, 4.8180000e+05,
       5.0954000e+05, 1.0512000e+06, 1.7200000e+07, 4.6720000e+05,
       1.9710000e+06, 2.2484000e+07, 2.0440000e+06, 4.1900000e+07,
       2.0586000e+07, 3.5300000e+06, 8.4680000e+06, 5.2560000e+05,
       4.9640000e+06, 3.7680000e+07, 7.4460000e+06, 3.2120000e+07,
       7.0000000e+04, 2.2472320e+08, 2.9200000e+08, 5.8400000e+07,
       1.8500000e+08, 2.4090000e+06, 3.0660000e+06, 2.9632160e+07,
       1.1680000e+06, 1.7600000e+06, 4.0880000e+06, 1.1680000e+07,
       1.0658000e+07, 5.8400000e+06, 3.7960000e+06, 9.9230000e+07,
       3.6500000e+08, 1.2775000e+05, 1.1388000e+06, 3.8544000e+06,
       1.6498000e+07, 1.1826000e+07, 2.0440000e+07, 1.4900000e+07,
       7.5000000e+03])

In [128]:
main_df.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount', 'Stage'],
      dtype='object')

In [129]:
# Convert the Amount column to float data type
main_df['Amount'] = main_df['Amount'].astype(float)
print(main_df['Amount'].dtype)

print('\n')

main_df['Amount'].unique()

float64

array([2.0000000e+05, 1.0000000e+05, 3.0000000e+06, 4.0000000e+05,
       3.4000000e+05, 6.0000000e+05, 4.5000000e+07, 1.0000000e+06,
       2.0000000e+06, 1.2000000e+06, 6.6000000e+08, 1.2000000e+05,
       7.5000000e+06, 5.0000000e+06, 5.0000000e+05, 1.0000000e+07,
       1.4500000e+08, 1.0000000e+08, 2.1000000e+07, 4.0000000e+06,
       2.0000000e+07, 5.6000000e+05, 2.7500000e+05, 4.5000000e+06,
       1.5000000e+07, 3.9000000e+08, 7.0000000e+06, 5.1000000e+06,
       7.0000000e+08, 2.3000000e+06, 7.0000000e+05, 1.9000000e+07,
       9.0000000e+06, 4.0000000e+07, 7.5000000e+05, 1.5000000e+06,
       7.8000000e+06, 5.0000000e+07, 8.0000000e+07, 3.0000000e+07,
       1.7000000e+06, 2.5000000e+06, 4.0000000e+04, 3.3000000e+07,
       3.5000000e+07, 3.0000000e+05, 2.5000000e+07, 3.5000000e+06,
       2.0000000e+08, 6.0000000e+06, 1.3000000e+06, 4.1000000e+06,
       5.7500000e+05, 8.0000000e+05, 2.8000000e+07, 1.8000000e+07,
       3.2000000e+06, 9.0000000e+05, 2.5000000e+05, 4.7000000e+06,
       7.5000000e+07, 8.0000000e+06, 1.2100000e+08, 5.5000000e+07,
       3.3000000e+06, 1.1000000e+07, 1.6000000e+07, 5.4000000e+06,
       1.5000000e+08, 4.2000000e+06, 2.2000000e+07, 5.2000000e+07,
       1.1000000e+06, 1.1800000e+08, 1.6000000e+06, 1.8500000e+07,
       7.0000000e+10, 8.0000000e+08, 4.0000000e+08, 1.5000000e+05,
       1.7600000e+08, 6.0000000e+07, 4.7000000e+05, 2.4000000e+05,
       3.0000000e+09, 7.4000000e+07, 6.2000000e+07, 2.1000000e+06,
       5.0000000e+08, 1.2500000e+07, 2.2000000e+09, 5.0600000e+06,
       2.2500000e+08, 2.4700000e+07, 7.7000000e+06, 1.9067328e+07,
       5.1000000e+07, 1.1500000e+05, 5.4000000e+04, 2.0000000e+04,
       8.0314600e+05, 2.3800000e+05, 1.0220000e+07, 1.0200000e+06,
       1.2000000e+07, 1.3400000e+07, 1.7000000e+08, 2.9000000e+06,
       5.4300000e+05, 9.0000000e+07, 3.4000000e+06, 2.3000000e+07,
       8.0900000e+06, 1.0300000e+06, 5.0400000e+06, 3.6000000e+05,
       1.4000000e+06, 6.5000000e+05, 5.4000000e+07, 4.2500000e+07,
       1.1370000e+07, 3.2500000e+05, 4.1000000e+05, 4.5000000e+05,
       6.8200000e+05, 4.0500000e+06, 1.0500000e+06, 1.0800000e+06,
       4.3000000e+06, 6.8000000e+06, 2.1100000e+06, 7.6400000e+05,
       6.0300000e+05, 4.0900000e+05, 2.9200000e+05, 2.8600000e+05,
       1.3600000e+05, 5.4600000e+05, 8.8700000e+05, 4.3000000e+04,
       4.0900000e+04, 2.2000000e+06, 5.6600000e+06, 3.5000000e+05,
       1.1000000e+05, 1.2200000e+08, 1.1635000e+07, 2.8000000e+06,
       1.0650000e+06, 6.6900000e+05, 1.6076000e+07, 6.4960000e+05,
       6.7000000e+06, 2.2000000e+05, 2.6650000e+05, 2.8790000e+06,
       2.6500000e+07, 3.5100000e+05, 4.6761000e+07, 1.7500000e+05,
       1.1241000e+07, 8.0400000e+05, 1.3400000e+06, 4.6700000e+05,
       1.3300000e+05, 3.8230000e+06, 9.3400000e+05, 2.9300000e+05,
       1.9800000e+05, 9.2700000e+05, 9.7100000e+05, 3.0600000e+06,
       1.8620000e+06, 2.3200000e+05, 2.8880000e+06, 1.3280000e+06,
       1.5500000e+07, 5.6000000e+07, 2.2500000e+06, 1.6753000e+07,
       3.7000000e+06, 1.4700000e+06, 5.3000000e+05, 2.6700000e+05,
       3.3440000e+06, 7.2000000e+06, 2.7430000e+06, 6.0820000e+06,
       6.6090000e+06, 2.7700000e+07, 5.9400000e+06, 3.9640000e+06,
       5.5000000e+06, 1.9700000e+05, 4.3270000e+06, 4.5900000e+05,
       3.9370000e+06, 1.3135000e+06, 2.2980000e+05, 5.3050000e+06,
       2.6400000e+05, 1.7500000e+06, 5.9670000e+06, 2.9800000e+06,
       3.2300000e+05, 1.3260000e+06, 2.7000000e+07, 5.2000000e+06,
       2.5300000e+06, 7.9200000e+05, 1.1363000e+07, 1.7150000e+06,
       3.2900000e+05, 5.2710000e+06, 8.7000000e+06, 3.2260000e+06,
       5.9000000e+06, 4.4000000e+07, 3.8790000e+06, 1.3000000e+07,
       8.8000000e+06, 9.5000000e+06, 9.2000000e+05, 3.5600000e+07,
       9.4000000e+06, 7.9000000e+05, 4.8000000e+05, 1.6000000e+05,
       8.2000000e+06, 4.2570000e+06, 1.4100000e+06, 3.4980000e+05,
       7.8600000e+05, 2.0040000e+06, 1.2300000e+08, 2.4800000e+05,
       2.4000000e+07, 1.4259000e+07, 2.4500000e+07, 3.8000000e+06,
       1.8370000e+07, 6.8525000e+07, 4.8000000e+06, 1.8340000e+06,
       2.3850000e+07, 4.3000000e+07, 2.1600000e+07, 4.5980000e+06,
       1.3137000e+07, 1.1500000e+08, 3.9000000e+06, 6.7000000e+05,
       8.5000000e+06, 3.1480000e+06, 2.6000000e+06, 4.0495000e+06,
       1.0500000e+07, 6.5000000e+06, 4.3700000e+07, 1.3800000e+07,
       3.0690000e+05, 4.2000000e+05, 6.2730000e+05, 1.1300000e+08,
       3.2000000e+07, 1.1000000e+08, 1.3970000e+06, 4.4850000e+05,
       7.9757000e+06, 3.3000000e+05, 5.6000000e+06, 1.4020000e+06,
       2.1500000e+07, 2.9600000e+08, 4.9000000e+06, 1.4024000e+06,
       1.2618300e+07, 9.9000000e+06, 9.8253000e+05, 7.0185200e+07,
       2.1000000e+08, 8.4000000e+07, 3.9000000e+07, 2.7000000e+06,
       1.4034000e+06, 1.0500000e+08, 1.0300000e+08, 2.8130000e+05,
       1.2700000e+04, 2.5000000e+04, 9.7500000e+07, 5.0700000e+05,
       8.4000000e+06, 1.8300000e+07, 1.2500000e+08, 1.8100000e+05,
       2.8000000e+05, 1.4700000e+07, 1.3200000e+07, 8.0430000e+06,
       1.2000000e+08, 1.8800000e+08, 4.9000000e+07, 1.6000000e+08,
       1.8000000e+06, 8.5000000e+05, 5.3000000e+07, 2.6000000e+07,
       7.4000000e+06, 1.7000000e+07, 2.1500000e+08, 3.5000000e+08,
       8.3000000e+07, 6.5000000e+07, 1.5000000e+11, 3.0000000e+08,
       1.4000000e+08, 1.7500000e+07, 4.2000000e+07, 4.5000000e+08,
       3.7000000e+07, 3.7000000e+08, 7.7000000e+05, 7.0000000e+07,
       6.6000000e+06, 7.2500000e+05, 4.6100000e+05, 9.6000000e+07,
       2.6600000e+08, 3.2500000e+08, 2.2500000e+05, 8.5000000e+07,
       2.3500000e+05, 2.6000000e+05, 8.6000000e+07, 1.3000000e+05,
       1.1100000e+08, 2.6500000e+05, 7.6000000e+07, 1.0000000e+09,
       9.5000000e+07, 2.8000000e+08, 1.4300000e+07, 8.1000000e+07,
       7.2000000e+05, 3.6000000e+07, 6.7000000e+07, 1.0200000e+07,
       2.2000000e+08, 1.0800000e+08, 3.7000000e+05, 4.8000000e+07,
       3.6000000e+06, 1.9200000e+08, 1.9000000e+06, 4.1000000e+07,
       1.4400000e+08, 2.7000000e+08, 1.4000000e+05, 2.5000000e+08,
       3.2000000e+05, 3.8000000e+07, 1.2500000e+05, 6.4000000e+07,
       6.2000000e+05, 1.2500000e+06, 2.3400000e+08, 4.6000000e+08,
       1.3500000e+07, 1.9500000e+08, 7.3000000e+06, 6.3000000e+06,
       1.6500000e+07, 9.2000000e+07, 1.3500000e+08, 8.4000000e+08,
       2.4800000e+08, 5.7000000e+05, 2.6000000e+08, 1.7500000e+08,
       8.1000000e+05, 6.0000000e+08, 5.7000000e+06, 6.7500000e+06,
       7.8000000e+07, 2.5500000e+08, 5.7000000e+08, 5.5000000e+05,
       3.1000000e+07, 5.4000000e+05, 1.4000000e+07, 6.2000000e+06,
       2.7500000e+08, 1.4050000e+05, 5.4000000e+08, 1.8270000e+05,
       2.3000000e+08, 4.9400000e+07, 3.1100000e+08, 6.9300000e+08,
       5.8400000e+05, 9.4900000e+05, 2.3360000e+05, 7.3000000e+05,
       1.4600000e+06, 7.3000000e+03, 5.1100000e+05, 9.3440000e+05,
       4.3800000e+05, 7.3000000e+04, 1.8250000e+05, 2.1900000e+05,
       1.5184000e+06, 6.5700000e+05, 3.6500000e+05, 3.8544000e+05,
       1.1680000e+05, 8.7600000e+02, 4.9640000e+05, 4.9932000e+06,
       1.4314500e+05, 8.7600000e+06, 7.4200000e+08, 1.4600000e+07,
       2.9200000e+07, 3.9800000e+06, 1.0000000e+04, 1.4600000e+03,
       3.6500000e+06, 8.0300000e+06, 2.8500000e+07, 3.5040000e+06,
       1.7520000e+06, 2.4000000e+06, 3.6500000e+07, 6.4240000e+05,
       3.2400000e+06, 8.7600000e+05, 9.4900000e+06, 2.3360000e+07,
       1.0220000e+06, 1.4965000e+06, 1.7520000e+04, 7.5920000e+07,
       1.0410000e+06, 1.5000000e+04, 1.3870000e+05, 6.8300000e+06,
       2.1900000e+06, 3.6484600e+05, 1.0220000e+05, 2.0440000e+04,
       1.4600000e+05, 3.2850000e+05, 5.0000000e+04, 2.0469200e+06,
       1.8000000e+05, 2.8032000e+05, 1.5038000e+06, 1.4500000e+06,
       2.9200000e+03, 2.4236000e+05, 1.7520000e+05, 4.8180000e+05,
       5.0954000e+05, 1.0512000e+06, 1.7200000e+07, 4.6720000e+05,
       1.9710000e+06, 2.2484000e+07, 2.0440000e+06, 4.1900000e+07,
       2.0586000e+07, 3.5300000e+06, 8.4680000e+06, 5.2560000e+05,
       4.9640000e+06, 3.7680000e+07, 7.4460000e+06, 3.2120000e+07,
       7.0000000e+04, 2.2472320e+08, 2.9200000e+08, 5.8400000e+07,
       1.8500000e+08, 2.4090000e+06, 3.0660000e+06, 2.9632160e+07,
       1.1680000e+06, 1.7600000e+06, 4.0880000e+06, 1.1680000e+07,
       1.0658000e+07, 5.8400000e+06, 3.7960000e+06, 9.9230000e+07,
       3.6500000e+08, 1.2775000e+05, 1.1388000e+06, 3.8544000e+06,
       1.6498000e+07, 1.1826000e+07, 2.0440000e+07, 1.4900000e+07,
       7.5000000e+03])

## SECTOR CLEANING

In [130]:
main_df["Sector"].sort_values().unique()

array(['3D Printing, Manufacturing, Product Design', 'AI',
       'AI & Data science', 'AI & Debt', 'AI & Deep learning',
       'AI & Media', 'AI & Tech', 'AI Chatbot', 'AI Company',
       'AI Platform', 'AI Robotics', 'AI Startup', 'AI company',
       'AI health', 'AI platform', 'AI startup', 'API platform',
       'AR platform', 'AR startup', 'AR/VR', 'AR/VR startup',
       'Accomodation', 'Accounting, Apps, FinTech',
       'Accounting, Banking, Finance',
       'Accounting, Business Information Systems, Business Travel, Finance, SaaS',
       'Ad-tech', 'Advertisement',
       'Advertising, Artificial Intelligence, Digital Media, iOS, Location Based Services, News, Video, Video on Demand, Video Streaming',
       'Advertising, Consulting, Digital Marketing',
       'Advertising, Human Resources, Marketing',
       'Advertising, Internet, Marketing', 'Advisory firm', 'Aeorspace',
       'Aero company', 'Aerospace',
       'AgTech, B2B, Supply Chain Management', 'Agri tech', 'AgriTech',
       'Agriculture',
       'Agriculture, AgTech, Artificial Intelligence, Internet of Things, Machine Learning',
       'Agriculture, AgTech, Manufacturing',
       'Agriculture, Analytics, Big Data, Farming',
       'Agriculture, Farmers Market, Farming', 'Agriculture, Farming',
       'Agriculture, Mobile', 'Agritech', 'Agritech startup',
       'Agritech/Commerce',
       'Air Transportation, Freight Service, Logistics, Marine Transportation',
       'Alternative Medicine, Health Care', 'Analytics',
       'Analytics, Apps, Market Research',
       'Analytics, Audio, Digital Media, Innovation Management, Internet Radio, Media and Entertainment',
       'Analytics, CRM, Loyalty Programs, Machine Learning, Marketing Automation, Retail Technology, SaaS, Small and Medium Businesses',
       'Analytics, Computer Vision, Enterprise Software, Machine Learning, Natural Language Processing, Speech Recognition',
       'Android, Big Data, Blockchain, Cloud Computing, EdTech, Education, Information Technology, iOS, Training, Web Development',
       'Apparel & Fashion', 'Appliance', 'Apps', 'Apps, Audio',
       'Apps, B2B, Freight Service, Logistics, SaaS, Shipping, Supply Chain Management, Transportation',
       'Apps, Beauty, Consumer, Retail',
       'Apps, Collaboration, Developer Platform, Enterprise Software, Messaging, Productivity Tools, Video Chat',
       'Apps, E-Commerce, Internet',
       'Apps, E-Commerce, Internet, Mobile, Ride Sharing, Transportation',
       'Apps, Education, Retail', 'Apps, Events, News',
       'Apps, Financial Services, FinTech',
       'Apps, Fitness, Health Care, mHealth',
       'Apps, Health Care, Hospital, Mobile Apps',
       'Apps, Health Care, Internet, Mobile Apps, Personal Health',
       'Apps, Health Care, Pharmaceutical',
       'Apps, Home Services, Information Services, Information Technology',
       'Apps, Information Services, Information Technology',
       'Apps, Messaging, Navigation, Public Safety',
       'Apps, Mobile, Mobile Apps, Software',
       'Apps, Mobile, Transportation', 'Apps, Payments, Retail',
       'Artificial Intelligence',
       'Artificial Intelligence, Business Intelligence, Industrial Automation, Machine Learning',
       'Artificial Intelligence, Cloud Computing, Video',
       'Artificial Intelligence, Computer, Machine Learning',
       'Artificial Intelligence, Drones, Navigation, Packaging Services, Robotics',
       'Artificial Intelligence, Energy, Oil and Gas',
       'Artificial Intelligence, Human Resources, Information Services, Information Technology',
       'Artificial Intelligence, Information Technology',
       'Artificial Intelligence, Machine Learning, PaaS',
       'Artificial Intelligence, Machine Learning, SaaS, Virtual Assistant',
       'Artificial Intelligence, Product Search, SaaS, Service Industry, Software',
       'Artificial Intelligence, Social', 'Arts & Crafts',
       'Audio, Mobile, Tourism, Travel', 'Augmented reality', 'Auto-tech',
       'Automation', 'Automation tech', 'Automobile',
       'Automobile & Technology', 'Automobile Technology', 'Automobiles',
       'Automotive', 'Automotive Startup', 'Automotive and Rentals',
       'Automotive company', 'Automotive tech',
       'Automotive, Battery, Electric Vehicle, Manufacturing, Mechanical Design',
       'Automotive, Battery, Energy, Energy Storage',
       'Automotive, E-Commerce',
       'Automotive, E-Commerce Platforms, Marketplace',
       'Automotive, E-Commerce, Information Services',
       'Automotive, E-Commerce, Marketplace',
       'Automotive, E-Commerce, Mobile',
       'Automotive, Electric Vehicle, Energy',
       'Automotive, Electric Vehicle, Energy Storage',
       'Automotive, Electric Vehicle, Renewable Energy',
       'Automotive, Last Mile Transportation, Peer to Peer, Ride Sharing',
       'Automotive, Marketplace, Online Portals',
       'Automotive, Rental, Sharing Economy', 'Automotive, Retail',
       'Automotive, Search Engine, Service Industry',
       'Autonomous Vehicles',
       'Autonomous Vehicles, Last Mile Transportation, Recreational Vehicles, Rental',
       'Aviation', 'Aviation & Aerospace', 'Ayurveda tech', 'B2B',
       'B2B Agritech', 'B2B E-commerce', 'B2B Ecommerce',
       'B2B Manufacturing', 'B2B Marketplace', 'B2B Supply Chain',
       'B2B Travel', 'B2B marketplace', 'B2B service', 'B2B startup',
       'B2B, Biometrics, Cyber Security, Fraud Detection, SaaS, Security',
       'B2B, Business Development, Internet, Marketplace',
       'B2B, E-Commerce, Enterprise', 'B2B, E-Commerce, Mobile',
       'B2B, Farming, Marketplace',
       'B2B, Food and Beverage, Food Delivery',
       'B2B, Information Services, Information Technology',
       'B2B, Marketplace', 'B2B, Medical Device', 'B2B, Shoes', 'Banking',
       'Banking, E-Learning, Trading Platform',
       'Banking, Finance, Financial Services',
       'Banking, Finance, Financial Services, Non Profit',
       'Banking, Financial Services, FinTech',
       'Banking, Financial Services, Internet',
       'Basketball, Cricket, Cycling, eSports, Fitness, Golf, Health Care, Hockey, Sports, Swimming, Table Tennis, Volley Ball',
       'Battery', 'Battery design', 'Battery manufacturer',
       'Battery, Electric Vehicle, Energy, Renewable Energy, Transportation',
       'Beauty', 'Beauty & wellness', 'Beauty products',
       'Beauty, Cosmetics, Health Care, Service Industry',
       'Beauty, Fashion, Wellness',
       'Beauty, Fitness, Home Services, Internet', 'Beauty, Health Care',
       'Beverage', 'Beverages',
       'Big Data, Business Intelligence, Financial Services, FinTech, Personal Finance',
       'Big Data, Consumer Lending, FinTech',
       'Big Data, Data Visualization, Logistics, Software',
       'Big Data, EdTech, Machine Learning',
       'Big Data, Financial Services, Machine Learning, Predictive Analytics',
       'Bike Rental', 'Bike marketplace', 'BioTechnology',
       'Biomaterial startup', 'Biopharma', 'Biotech', 'Biotechnology',
       'Biotechnology company', 'Biotechnology, Diabetes, Health Care',
       'Biotechnology, Health Care, Life Science, Medical Device',
       'Biotechnology, Health Care, Pharmaceutical',
       'Biotechnology, Health Care, Wellness',
       'Biotechnology, Life Science, Pharmaceutical, Product Research',
       'Blockchain', 'Blockchain startup',
       'Blockchain, Developer Tools, Enterprise Software', 'Blogging',
       'Brand Marketing, Event Promotion, Marketing, Sponsorship, Ticketing',
       'Broadcasting, Media and Entertainment, Music, Music Streaming, Video, Video Streaming',
       'Business Development, Market Research, Outsourcing',
       'Business Intelligence, Customer Service, Market Research, SaaS',
       'Business Supplies & Equipment',
       'Business Travel, Hospitality, Hotel, Marketplace, Tourism, Travel Accommodations',
       'CRM', 'Cannabis startup', 'Capital Markets', 'Car Service',
       'Car Trade',
       'Career Planning, Education, Higher Education, Service Industry',
       'Career Planning, Education, Internet',
       'Catering, Food and Beverage, Food Delivery, Food Processing',
       'Celebrity Engagement',
       "Child Care, Health Care, Hospital, Medical, Women's",
       'Child Care, Information Technology',
       'Children, Education, Online Portals',
       'Children, Education, Parenting',
       'Classifieds, Internet, Marketplace, Rental Property',
       'Clean Energy, CleanTech, Laundry and Dry-cleaning', 'CleanTech',
       'Cleantech', 'Clothing',
       'Cloud Computing, Computer, SaaS, Software',
       'Cloud Computing, Computer, Semiconductor',
       'Cloud Computing, Computer, Software',
       'Cloud Computing, Enterprise Software, Network Hardware, Network Security, SaaS',
       'Cloud Infrastructure, PaaS, SaaS', 'Cloud Kitchen',
       'Cloud company', 'Cloud kitchen', 'Co-living', 'Co-working',
       'Co-working Startup',
       'Collaboration, Communities, Coworking, Real Estate',
       'Collaboration, Communities, Coworking, Sharing Economy',
       'Commerce', 'Commercial Real Estate',
       'Commercial Real Estate, Coworking, Office Administration, Real Estate',
       'Commercial, E-Learning, Education',
       'Communities, Coworking, Incubators',
       'Communities, Leisure, Mobile Apps, Software', 'Community',
       'Community platform', 'Company-as-a-Service',
       'Computer & Network Security', 'Computer Games',
       'Computer Software', 'Computer software',
       'Computer, Digital Marketing, Facilities Support Services, Graphic Design, Internet, Mobile Apps, Social Media Marketing, Web Development',
       'Computer, FinTech, Risk Management, Software',
       'Computer, Furniture, Software', 'Construction',
       'Construction tech', 'Consultancy', 'Consulting',
       'Consulting, Cyber Security, Network Security',
       'Consulting, Retail, Social', 'Consumer',
       'Consumer Applications, Information Services, Location Based Services, Virtual Assistant',
       'Consumer Electronics',
       'Consumer Electronics, E-Commerce, E-Commerce Platforms, Electronics, Shipping, Shopping',
       'Consumer Electronics, Embedded Systems, Hardware, Smart Building, Software',
       'Consumer Goods', "Consumer Goods, Lifestyle, Men's",
       'Consumer Goods, Manufacturing', 'Consumer Lending, FinTech',
       'Consumer Lending, Finance, FinTech',
       'Consumer Lending, Financial Services, FinTech, Insurance, Lending, Mobile Payments, Payments, Wealth Management',
       'Consumer Lending, Financial Services, Lending, Personal Finance',
       'Consumer Services', 'Consumer appliances', 'Consumer goods',
       'Consumer service', 'Consumer software',
       'Consumer, Financial Services, FinTech',
       'Consumer, Furniture, Home Decor, Home Improvement',
       'Content Marktplace', 'Content commerce', 'Content creation',
       'Content management', 'Content marketplace', 'Content publishing',
       'Continuing Education, EdTech, Education, Skill Assessment',
       'Conversational AI platform',
       'Cooking, E-Commerce, Food and Beverage, Food Delivery, Online Portals',
       'Cosmetics', 'Coworking', 'Craft Beer',
       'Creative Agency, Crowdfunding, EdTech, Health Care, Internet, Medical, Non Profit, Personal Health',
       'Credit Cards, Finance, Mobile Apps, Mobile Payments, Payments',
       'Credit Cards, Payments, Property Insurance, Property Management, Rental Property',
       'Credit, Finance, FinTech, Lending, Sales Automation',
       'Credit, Financial Services, FinTech, Lending',
       'Credit, Financial Services, FinTech, Personal Finance',
       'Credit, Financial Services, Lending, Marketplace',
       'Crowdfunding, Finance, Financial Services',
       'Crowdfunding, Financial Services, Internet', 'Crowdsourcing',
       'Crowdsourcing, Financial Services, Funding Platform, Venture Capital',
       'Crypto', 'Cryptocurrency', 'Cryptocurrency, Trading Platform',
       'Cultural',
       'Customer Service, Information Technology, Internet, Sales Automation',
       'Customer Service, Messaging, Mobile Apps, Personalization',
       'Customer Service, Software, Video, Video Streaming',
       'Customer service company', 'Cybersecurity', 'D2C', 'D2C Business',
       'D2C Fashion', 'D2C jewellery', 'D2C startup', 'Dairy',
       'Dairy startup', 'Data Analytics', 'Data Intelligence',
       'Data Science', 'Dating', 'Dating app',
       'Dating, Private Social Networking', 'Deep Tech', 'Deep Tech AI',
       'Deeptech', 'Deeptech startup', 'Defense & Space', 'Defense tech',
       'Deisgning', 'Delivery Service, E-Commerce, Logistics',
       'Delivery Service, Food and Beverage, Food Delivery',
       'Delivery Service, Logistics, Service Industry',
       'Delivery service', 'Delivery, Drones, Geospatial, Robotics',
       'Delivery, Information Technology, Mobile Apps',
       'Delivery, Logistics, Transportation',
       'Dental, Elder Care, Health Care, Home Health Care, Personal Health',
       'Design',
       'Dietary Supplements, Food and Beverage, Health Care, Organic Food, Snack Food',
       'Digital Entertainment',
       'Digital Entertainment, Fantasy Sports, Gaming, Sports',
       'Digital Entertainment, Fantasy Sports, Sports',
       'Digital Entertainment, Mobile, PC Games',
       'Digital Marketing, SEM, SEO, Web Development', 'Digital Media',
       'Digital Media, EBooks, Publishing, Reading Apps',
       'Digital Media, Incubators, Social Entrepreneurship',
       'Digital Media, Internet, Media and Entertainment, Online Portals, Social Media',
       'Digital Media, News, Publishing', 'Digital mortgage',
       'Digital platform', 'Digital tech', 'Drone', 'E store', 'E tailor',
       'E-Commerce', 'E-Commerce Platforms, Retail, SaaS',
       'E-Commerce, E-Commerce Platforms, Furniture, Home Decor, Internet',
       'E-Commerce, E-Commerce Platforms, Internet, Mobile Apps, Social Media',
       'E-Commerce, E-Commerce Platforms, Internet, Retail',
       'E-Commerce, E-Commerce Platforms, Retail',
       'E-Commerce, Education, Health Care',
       'E-Commerce, Facilities Support Services, Procurement, Supply Chain Management',
       'E-Commerce, Fashion, Jewelry, Retail',
       'E-Commerce, Fashion, Lifestyle', 'E-Commerce, Fashion, Mobile',
       'E-Commerce, Fashion, Shopping',
       'E-Commerce, Fitness, Health Care', 'E-Commerce, Food Processing',
       'E-Commerce, Food and Beverage, Internet',
       'E-Commerce, Food and Beverage, Tea',
       'E-Commerce, Furniture, Home Decor, Interior Design, Internet',
       'E-Commerce, Furniture, Interior Design',
       'E-Commerce, Health Care, Retail', 'E-Commerce, Mobile, Retail',
       'E-Commerce, Mobile, Sharing Economy',
       'E-Commerce, Retail, Shopping', 'E-Learning',
       'E-Learning, EdTech, Education',
       'E-Learning, EdTech, Education, Image Recognition, Machine Learning, STEM Education',
       'E-Learning, Education', 'E-Learning, Education, Higher Education',
       'E-Learning, Internet', 'E-Learning, Internet, Video Games',
       'E-Sports', 'E-commerce', 'E-commerce & AR', 'E-connect',
       'E-learning', 'E-market', 'E-marketplace', 'E-mobility', 'E-tail',
       'EV', 'EV startup', 'Ecommerce', 'EdTech', 'EdTech Startup',
       'EdTech, Education',
       'EdTech, Education, Enterprise Software, Peer to Peer',
       'EdTech, Education, Higher Education, Secondary Education',
       'EdTech, Education, Information Services, SaaS',
       'EdTech, Education, Knowledge Management',
       'EdTech, Education, Mobile, Tutoring', 'EdtTech', 'Edtech',
       'Education', 'Education Management',
       'Education, Financial Services, FinTech',
       'Education, Gaming, Training', 'Education, Human Resources',
       'Education, Information Technology, Internet, Mobile, Software',
       'Electric Vehicle', 'Electricity', 'Electronics',
       'Embedded Systems, Health Care, Medical, Product Research',
       'Energy, Energy Storage, Infrastructure',
       'Energy, Environmental Consulting, Renewable Energy, Solar',
       'Energy, Natural Resources', 'Energy, Renewable Energy, Solar',
       'Energy, Solar',
       'Enterprise Resource Planning (ERP), Information Services, Information Technology, Real Estate',
       'Enterprise Software, Health Care, Hospital, Parenting, Personal Health, SaaS',
       'Entertainment', 'Entreprenurship',
       'Environmental Consulting, Renewable Energy',
       'Environmental Services', 'Environmental service',
       'Equity Management', 'Escrow', 'Estore', 'Events', 'Eye Wear',
       'Eyeglasses', 'Eyewear', 'Eyewear, Internet', 'FM', 'FMCG',
       'Facilities Services', 'Facilities Support Services',
       'Fantasy Sports, Mobile, Sports', 'Fantasy sports', 'Farming',
       'Fashion', 'Fashion & Lifestyle', 'Fashion Tech',
       'Fashion and lifestyle', 'Fashion startup',
       'Fashion, Graphic Design, Wearables', 'Fashion, Jewelry',
       'Fashion, Lifestyle, Rental', 'Fashion, Lifestyle, Retail',
       'FemTech', 'Femtech', 'Fertility tech',
       'File Sharing, Personalization, Social Media', 'FinTech',
       'FinTech, Internet, Payments, Service Industry',
       'FinTech, Mobile, Mobile Payments, Payments, Retail Technology',
       'Finance', 'Finance company', 'Finance, FinTech, Mobile Payments',
       'Finance, FinTech, Payments, Property Development, Rental',
       'Finance, Financial Exchanges, Financial Services, Micro Lending',
       'Finance, Financial Services',
       'Finance, Financial Services, FinTech',
       'Finance, Financial Services, Insurance',
       'Finance, Financial Services, Marketing',
       'Finance, Financial Services, Small and Medium Businesses',
       'Finance, Impact Investing, Internet',
       'Finance, Impact Investing, Mobile Apps',
       'Finance, Internet, Travel', 'Financial Services',
       'Financial Services, FinTech',
       'Financial Services, Insurance, Private Social Networking',
       'Financial Services, Lending',
       'Financial Services, Lending, Peer to Peer',
       'Financial Services, Micro Lending',
       'Financial Services, Professional Services',
       'Financial Services, SaaS, Security',
       'Financial Services, Venture Capital', 'Fintech', 'Fishery',
       'Fitness', 'Fitness startup',
       'Fitness, Food and Beverage, Health Care, Nutrition',
       'Fitness, GreenTech, Internet of Things, Mobile Apps, Ride Sharing, Transportation',
       'Fitness, Health Care, Wellness',
       'Fitness, Sporting Goods, Sports', 'Food', 'Food & Bevarages',
       'Food & Beverages', 'Food & Logistics', 'Food & Nutrition',
       'Food & tech', 'Food Delivery',
       'Food Delivery, Food Processing, Internet',
       'Food Delivery, Hospitality, Reservations, Restaurants, Search Engine',
       'Food Delivery, Online Portals, Restaurants',
       'Food Delivery, Organic, Organic Food', 'Food Industry',
       'Food Processing', 'Food Processing, Retail', 'Food Production',
       'Food Startup', 'Food and Beverage',
       'Food and Beverage, Food Delivery',
       'Food and Beverage, Food Delivery, Internet',
       'Food and Beverage, Food Delivery, Snack Food',
       'Food and Beverage, Food Processing',
       'Food and Beverage, Food Processing, Manufacturing',
       'Food and Beverage, Food Processing, Nutrition',
       'Food and Beverage, Food Processing, Organic Food, Snack Food',
       'Food and Beverage, Restaurants, Tea',
       'Food and Beverage, Snack Food',
       'Food and Beverage, Snack Food, Tea', 'Food and Beverage, Tea',
       'Food and Beverages', 'Food delivery', 'Food devlivery',
       'Food diet', 'Food tech', 'FoodTech', 'Foodtech',
       'Foodtech & Logistics', 'Foootwear',
       'Fraud Detection, Information Services, Security',
       'Funding Platform, Incubators, Non Profit', 'Furniture',

In [131]:
# Define your categorization mapping
def categorize_sector(sector):
    if pd.isna(sector):
        return 'Others'
    elif any(keyword in sector for keyword in ['IT', 'Technology', 'Tech']):
        return 'IT & Technology'
    elif any(keyword in sector for keyword in ['Finance', 'Financial', 'Banking']):
        return 'Financial Services'
    elif any(keyword in sector for keyword in ['Healthcare', 'Life Sciences', 'Med']):
        return 'Healthcare & Life Sciences'
    elif any(keyword in sector for keyword in ['Consumer', 'Goods']):
        return 'Consumer Goods'
    elif any(keyword in sector for keyword in ['Business', 'Consulting', 'Services']):
        return 'Business Services'
    elif any(keyword in sector for keyword in ['Media', 'Entertainment', 'Marketing']):
        return 'Media & Entertainment'
    elif any(keyword in sector for keyword in ['Education']):
        return 'Education'
    elif any(keyword in sector for keyword in ['Manufacturing']):
        return 'Manufacturing'
    elif any(keyword in sector for keyword in ['Retail']):
        return 'Retail'
    elif any(keyword in sector for keyword in ['Transportation', 'Logistics', 'Travel']):
        return 'Transportation & Logistics'
    elif any(keyword in sector for keyword in ['Sports']):
        return 'Sports'
    elif any(keyword in sector for keyword in ['Agriculture']):
        return 'Agriculture'
    elif any(keyword in sector for keyword in ['Real Estate']):
        return 'Real Estate'
    elif any(keyword in sector for keyword in ['Travel', 'Tourism']):
        return 'Travel & Tourism'
    elif any(keyword in sector for keyword in ['Energy']):
        return 'Energy'
    else:
        return 'Others'

# Apply the categorization function to the 'sector' column
main_df['Sector'] = main_df['Sector'].apply(categorize_sector)

# Ensure there are no null values
main_df['sector'] = main_df['Sector'].replace(np.nan, 'Others')

In [132]:
main_df['Sector'].fillna('Others', inplace=True)

C:\Users\HP\AppData\Local\Temp\ipykernel_15660\2159351662.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  main_df['Sector'].fillna('Others', inplace=True)

In [133]:
main_df.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount', 'Stage', 'sector'],
      dtype='object')

In [134]:
main_df.columns

Index(['Company/Brand', 'Founded', 'HeadQuarter', 'Sector', 'What it does',
       'Founders', 'Investor', 'Amount', 'Stage', 'sector'],
      dtype='object')

## CLEANING STAGE COLUMN

In [135]:
# Define consolidated funding categories
valid_stages = {
    'Seed Funding': ['Pre-seed', 'Seed', 'Seed Funding', 'Seed Round', 'Seed round', 'Seed+', 'Pre-seed Round', 'Seed Investment'],
    'Series Funding': ['Series A', 'Series B', 'Series C', 'Series D', 'Series E', 'Series F', 'Series G', 'Series H', 'Series I', 'Series A-1', 'Series B1', 'Series B+', 'Series A+', 'Series D1'],
    'Pre-Series Funding': ['Pre-series A', 'Pre-series B', 'Pre-series C', 'Pre-series', 'Pre Series A'],
    'Bridge Funding': ['Bridge', 'Bridge Round'],
    'Equity Financing': ['Angel', 'Angel Round', 'Private Equity', 'Post-IPO Equity', 'Corporate Round'],
    'Debt Financing': ['Debt', 'Debt Financing', 'Post-IPO Debt'],
    'Other': ['Venture - Series Unknown', 'Grant', 'Secondary Market', 'Non-equity Assistance', 'Funding Round']
}

# Function to clean and categorize the 'Stage' column
def clean_stage(stage):
    if pd.isna(stage):  # Check if the stage is NaN
        return 'Other'  # Categorize nulls as 'Other'
    for category, stages in valid_stages.items():
        if stage in stages:
            return category
    return 'Other'  # Default to 'Other' for any unmatched stages

# Apply the cleaning function to the 'Stage' column
main_df['Stage'] = main_df['Stage'].apply(clean_stage)

# Display the cleaned 'Stage' column
print(main_df['Stage'].unique())

['Other' 'Seed Funding' 'Pre-Series Funding' 'Series Funding'
 'Debt Financing' 'Bridge Funding' 'Equity Financing']

In [136]:
main_df.isnull().sum()

Company/Brand      0
Founded          769
HeadQuarter      114
Sector             0
What it does       0
Founders         545
Investor         626
Amount             0
Stage              0
sector             0
dtype: int64